################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GrammarEngine/v15
**/obj
**/bin
*.user
/codealike.json
*.v2
/.vs/GrammarEngine/v16/.suo
.vs/
/ExternalLibraries/Format/Debug/netstandard2.0
