:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.canvas {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.svg-content {
  width: 100%;
  height: 100%;
}

.node {
  height: 132px;
  width: 180px;
}

.node-card {
  fill: #424242;
}

.active-icon {
  fill: #fff;
}
.passive-icon {
  fill:rgba(255, 255, 255, .25);
}

.node-text {
  fill: #fff;
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.node-subtext {
  fill: rgba(255, 255, 255, .7);
  font: 400 12px/16px Roboto, "Helvetica Neue", sans-serif;
  font-style: italic;
}

.node-expand-button{
  stroke: black;
  stroke-width: 1pt;
  stroke-opacity: 0.25;
}
