<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Main application menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Welcome</button>
    <button mat-menu-item>EBNF</button>
  </mat-menu>
  <span>{{title}}</span>
  <span class="main-menu-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
