:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tab-no-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-display-area {
  margin: 1em;
}

.full-tree-view {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
